<!DOCTYPE html>
<html>
  <head>
    <title>ReplaceOrCreate</title>
  </head>
  <body>
    <h1>DEMO ReplaceOrCreate</h1>
    <p><%= tests %></p>
    <a href="/replaceOrCreate">Try replaceOrCreate</a>
  </body>
</html>